// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.navbar-vivo{
    background-color: #694099;
}

.bottom-button{
    position: absolute;
    left:    0;
    bottom:   0;
}

#graph1{
    width: 400px;
    height: 400px;
}